:root{
    --pomme:#70B77E;
    --sapin:#065143;
    --azur:#129490;
    --creme:#F7F1F1;
    --grey:#D0CCCB;
    --dark:#3C3636;
    --orange:#DD4C16;
 }

body{
    background-color:var(--creme);
    /* font-family */
}
.to-do-list{
    margin: auto;
    width:700px;
    padding:10px;
}
h1{
    text-align: center;
}

.ajout{
    background-color: var(--sapin);
    padding:5px;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}
#new-task-form{
    display: flex;
    justify-content: space-between;
    background-color: var(--pomme);
    padding: 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

input, button{
    appearance: none;
    border: none;
}

input:focus, button:focus{
    outline:  none;
}

#new-task-input{
    background-color: var(--pomme);
    padding:0.5rem;

}


#new-task-input::placeholder{
      color:var(--dark);
      /* faudra pt etre changer la couleur c moche gro */ 
}
#new-task-submit{
    color:var(--creme);
    background-color: var(--orange);
    font-size: 1.65rem;
    background-image: linear-gradient(to right, var(--orange),    var(--creme));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
    transition:0.4s ;
}
#new-task-submit:hover{
    opacity: 0.8;
}

#new-task-submit:active{
    opacity: 0.6;
}
main{
    flex:1 1 0%;
    padding:2rem 1rem; 
    max-width:800px;
    width:100%;
    margin: 0 auto;
}
.task-list{
    padding:1rem;
}

.task-list h2{
    font-size: 1.5rem;
    font-weight: bold;
    color:var(--dark);
    margin-bottom: 1.5rem;
}

#tasks .task{
    display: flex;
    justify-content: space-between;
    background-color: var(--grey);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    
}

#tasks .task .content .text{
    background-color: var(--grey);
    color: var(--dark);
    font-size: 1.125rem;
    width:100%;
    display: block;
    transition: 0.4s;
}


/* Si ce n'est pas sur readonly mettre le texte en orange en gros indicateur de si le texte est modifiable ou non */
#tasks .task .content .text:not(:read-only){ 
    color: var(--orange);

}

.task .actions button{
    cursor:pointer;
    margin:0 0.5rem;
    font-size:700;
    text-transform: uppercase;
    transition:0.4s;
  
}

.task .actions button:hover{
    opacity: 0.8;
}

.task .actions button:active{
    opacity: 0.6;
}

.task .actions .edit{
    background-color: var(--orange);
    background-image: linear-gradient(to right, var(--orange),    var(--pomme));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.task .actions .delete{
    background-color: #DD4C16;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}










